
#flex-i-div {
    width: 200px;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    margin: auto;
}

#flex-i-div h2 {
    width: 100%;
}

#flex-i-div .fas {
    width: 100%;
}