
.wrapper-skills{
  width:100%;
  padding-top: 20px;
  text-align:center;
}

.wrapper-skills .carousel-skills{
  width:100%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.carousel-img{
  width: 200px;
  height: 200px;
  border: 2px solid rgba(1,1,1,0);
  margin: 0px;
}

.phone-skills {
  display: none;
}

.carousel-div {
  width: 200px !important;
}

.monitor-skills {
  background-color: #f0f0f0;
  padding: 1rem !important;
  padding-bottom: 40px !important;
}

@media (max-width: 425px) {
  .phone-skills {
    display: inline;
  }

  .monitor-skills {
    display: none;
  }
}